body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "cheltenham";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  overflow-x: hidden;
}


#app-wrapper {
  width: 100vw;
  height: 100vh;
}